@using ACTransit.CusRel.Infrastructure
@using ACTransit.CusRel.Models.Helpers
@model ACTransit.CusRel.Models.RejectedReportModel

@{
    ViewBag.Title = "Rejected";
    ViewBag.Breadcrumb = "Reports > Rejected";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Headers {
    @Styles.Render("~/Content/Tables")
    <link href="@Url.Content("~/Content/Custom.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.datetimepicker-2.4.0.css")" rel="stylesheet" />
}
@*@section Actions{
    <button id="search" class="btn btn-primary btn-panel-title" type="button">Search</button>
}*@
<div class="row">
    <div class="col-md-12 well normaltext">
        <div class="panel panel-default">
            <div class="panel-heading padding5">
                <div class="row">
                    <h1 class="panel-title text-center">
                        <span style="padding-left: 4em">
                            Tickets (<span id="TicketCount">@Model.Result.Report.Items.Count()</span>)
                            <a href="javascript:startPrint('RejectedReportTable','Rejected',rangeDate)" data-tool="Print" class="printAnchor glyphicon glyphicon-print pull-right" data-title="print" rel="tooltip" style=""></a>
                            <a href="#" class="export pull-right glyphicon glyphicon-download-alt" data-title="download csv" rel="tooltip"></a>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="panel-body" style="margin:0px 0px">
                <div class="row form-group field-margin">
                    <div id="SearchResults">
                        <table class="table sortable" id="RejectedReportTable">
                            <thead>
                                <tr>
                                    <th>@Html.GetDisplayName(model => model.Header.Id)</th>
                                    <th>@Html.GetDisplayName(model => model.Header.IncidentAt)</th>
                                    <th>@Html.GetDisplayName(model => model.Header.GroupContact)</th>
                                    <th>@Html.GetDisplayName(model => model.Header.Reasons)</th>
                                    <th data-defaultsort='disabled'>@Html.GetDisplayName(model => model.Header.Comments)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Result.Report.Items)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(@item.Id.ToString(), "Update", "Ticket", new { id = item.Id },
                                             new { id = "_" + @item.Id, target = "_self", data_toggle = "popover", data_content = @Html.GetCommentsString(item.Comments), data_title = "Ticket #" + @item.Id })
                                        </td>
                                        <td data-dateformat="M/D/YYYY">@(item.IncidentAt.HasValue ? item.IncidentAt.Value.ToString("M/d/yyyy") : "")</td>
                                        <td>@item.GroupContact</td>
                                        <td>@Html.GetReasonsString(item.Reasons)</td>
                                        <td>@Html.GetCommentsString(item.LastResearchComments)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(model => model.ReportParams.RangeStart)
@Html.HiddenFor(model => model.ReportParams.RangeEnd)


    @section Scripts {
        @Scripts.Render("~/bundles/Tables")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/datetimepicker")
        @Scripts.Render("~/Scripts/jquery.exportCSV.js")
        <script type="text/javascript">
    var ReportParams = @Html.Raw(Json.Encode(Model.ReportParams));
    var PostReportParams = @Html.Raw(Json.Encode(Model.PostReportParams));
    var rangeDate='- '+'StartDate :'+$('#ReportParams_RangeStart').val() + '   '+'   EndDate :' +$('#ReportParams_RangeEnd').val();

    function pageTop(){
        return $(".navbar-fixed-top").height();
    }

    function EnableThead() {
        $.bootstrapSortable(true);
        return;
        $("#RejectedReportTable").floatThead({
            scrollingTop: pageTop,
            useAbsolutePositioning: false
        });
        $(".table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td").css("padding", "1px 0px 5px 0px", "important");
    }

    EnableThead();
    SetupHints();

    function startPrint(tableName, titleName, assignValue) {
        //$("#RejectedReportTable").floatThead('destroy');
        $("#RejectedReportTable td").css("white-space", "normal");
        print(tableName, titleName, assignValue);
        EnableThead();
        $("#RejectedReportTable td").css("white-space", "nowrap");
    }

    //$("#search").on('click', function() {
    //    RefreshView();
    //    var rangeStart=$('#ReportParams_RangeStart').val();
    //    var rangeEnd=$('#ReportParams_RangeEnd').val();
    //    rangeDate='- '+'StartDate :'+rangeStart + '   '+'   EndDate :' +rangeEnd;
    //});

    RefreshView = function() {
        PostReportParams.RangeStart = $('#ReportParams_RangeStart').val();
        PostReportParams.RangeEnd = $('#ReportParams_RangeEnd').val();
        $.ajax({
            type: "POST",
            url: "Rejected",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(PostReportParams),
            success: function(result) {
                var data = result.Report.Items;
                $(function() {
                    var content = '';
                    $("#TicketCount").text(data.length);
                    for (var i = 0; i < data.length; i++) {
                        content +=
                        '<tr>'+
                            '<td>'+
                                '<a id="_' + data[i].Id + '" href="@Url.Action("Update", "Ticket")/' + data[i].Id + '" target="_self" ' +
                                'data-toggle="popover" data-content="' + toCommentsString(data[i].Comments) + '" data-title="Ticket #' + data[i].Id + '">' + data[i].Id + '</a>' +
                            '</td>' +
                            '<td data-dateformat="M/D/YYYY">' + toDateString(data[i].IncidentAt) + '</td>'+
                            '<td>' + data[i].GroupContact + '</td>'+
                            '<td>' + data[i].Reasons + '</td>'+
                            '<td style="white-space: nowrap">' + toCommentsString(data[i].Comments) + '</td>'+
                        '</tr>';
                    }
                    $('#RejectedReportTable tbody').html(content);
                    //$("#RejectedReportTable").floatThead('reflow');
                    SetupHints();
                    $.bootstrapSortable(true);
                });
            },
            fail: function(e, data) {
            }
        });
    };
    // IF CSV, don't do event.preventDefault() or return false
    // We actually need this to be a typical hyperlink
    $(".export").on('click', function (event) {
        // CSV
        exportTableToCSV.apply(this, [$('#SearchResults>table'), 'Rejected.csv']);
    });
        </script>
    }
